WebHadoopPRJ/src/main/resources/META-INF/wsdl/hdfs/WsHDFS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.yakimovvn.ru/HDFSService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.yakimovvn.ru/HDFSService" targetNamespace="http://www.yakimovvn.ru/HDFSService">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.yakimovvn.ru/HDFSService">

			<xs:element name="getHDFSRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="action" type="xs:string"/>
						<xs:element name="path" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="getHDFSResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="result" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="hdfsItems" type="tns:HDFSItem"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:complexType name="HDFSItem">
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="path" type="xs:string" />
					<xs:element name="parent" type="xs:string" />
					<xs:element name="isDir" type="xs:boolean" />
					<xs:element name="length" type="xs:long" />
					<xs:element name="blocksize" type="xs:long" />
					<xs:element name="modification_time" type="xs:long" />
					<xs:element name="access_time" type="xs:long" />
					<xs:element name="permission" type="xs:string" />
					<xs:element name="owner" type="xs:string" />
					<xs:element name="group" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getHDFSResponse">
		<wsdl:part element="tns:getHDFSResponse" name="getPaymentResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getHDFSRequest">
		<wsdl:part element="tns:getHDFSRequest" name="getPaymentRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="HDFSPort">
		<wsdl:operation name="listFolder">
			<wsdl:input message="tns:getHDFSRequest" name="getHDFSRequest">
			</wsdl:input>
			<wsdl:output message="tns:getHDFSResponse" name="getHDFSResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HDFSSoap11" type="tns:HDFSPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="listFolder">
			<soap:operation soapAction=""/>
			<wsdl:input name="getHDFSRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getHDFSResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HDFSPortService">
		<wsdl:port binding="tns:HDFSSoap11" name="HDFSPortSoap11">
			<soap:address location="http://localhost:9999/ws"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>